<html>
    <head>
        <title>Recycler</title>
    </head>
    <body>
        <h1>FakeDev</h1>
        <form method = "post" action = "/search">
            <input type = 'text' name = 'search' value = "" autocomplete = 'off'>
            <button type = "submit">검색</button>
        </form>
    </body>
</html>