.titletext{
    text-align: center;
  }
  
  .text{
    background: #D7FBE8;
    border-radius: 15px;
    width: 1122px;
    height: 220px;
  }
  
  .subtitle{
    background: #62D2A2;
    border-radius: 15px;
    width: 272px;
    height: 54px;
    left: 152px;
    top: 265px;
    font-family: Carrois Gothic;
    font-size: 30px;
    text-align: center;
    align-items: center;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }